<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation" align="left">
      <ul>
        <% @station.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :legal_name, t('views.stations.create.name').html_safe %><br>
    <%= f.text_field :legal_name %>
  </div>
  <br>
  <%= f.fields_for :location do |ff| %>
    <div class="field">
      <%= ff.label :address, t('views.stations.create.address').html_safe %><br>
      <%= ff.text_field :address %>
    </div>
  <% end %>
  <br>
  <div class="actions">
    <%= f.button t('views.stations.create.submit_button').html_safe, class: "btn btn-primary" %>
  </div>
<% end %>