<div class="panel panel-default center-block">
<div class="panel-heading" align="center">Lista de Sucursales</div>
  <div class="panel-body"> 
    <table>
      <thead>
        <tr>
          <th>Nombre de la sucursal</th>
          <th>Direcci&oacute;n Fiscal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @stations.each do |station| %>
          <tr>
            <td><%= station.legal_name %></td>
            <td><%= station.location.address %></td>
            <td><%= link_to 'Ver Perfil', station %></td>
            <% if current_user.privileges == 1 %>
              <td><%= link_to 'Editar', edit_station_path(station) %></td>
              <td><%= link_to 'Borrar', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>