<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>

<h2 align="center"><%= t('views.generic.site_title').html_safe %></h2>
<hr>
<p>
  <strong><%= t('views.stations.show.name').html_safe %></strong>
  <%= @station.legal_name.titleize.html_safe %>
</p21>
<p>
  <strong><%= t('views.stations.show.address').html_safe %></strong>
  <%= @station.location.address.titleize.html_safe %>
</p>
<p>
  <strong><%= t('views.stations.latitude').html_safe %></strong>
  <%= @station.location.latitude %>
</p>
<p>
  <strong><%= t('views.stations.longitude').html_safe %></strong>
  <%= @station.location.longitude %>
</p>

<p>
  <strong><%= t('views.stations.show.average_honesty').html_safe %></strong>
  <% unless @station.counter_comments.nil?%>
    <% if @station.counter_comments == 0 %>
    <% else %>
      <%= (@station.counter_honesty/@station.counter_comments) %> / 5
    <% end %>
  <% end %>
</p>

<p>
  <strong><%= t('views.stations.show.average_customer').html_safe %></strong>
  <% unless @station.counter_comments.nil?%>
    <% if @station.counter_comments == 0 %>
    <% else %>
      <%= (@station.counter_customer_service/@station.counter_comments) %> / 5
    <% end %>
  <% end %>
</p>

<p>
	<strong><%= t('views.stations.show.average_speed').html_safe %></strong>
	<% unless @station.counter_comments.nil?%>
		<% if @station.counter_comments == 0 %>
		<% else %>
		  <%= (@station.counter_speed_service/@station.counter_comments) %> / 5
		<% end %>
	<% end %>
</p>
<hr>
<% honesty = {} %>
<% customer_service = {} %>
<% speed_service = {} %>
<% Rating.get_station_ratings(@station.id).each do |r| %>
  <% honesty[r.created_at] = r.honesty %>
  <% customer_service[r.created_at] = r.customer_service %>
  <% speed_service[r.created_at] = r.speed_service %>
<% end %>
<strong><%= t('views.stations.pdf.honesty_performance').html_safe %></strong>
<%= line_chart [name: '', data: honesty ] %>
<hr>
<strong><%= t('views.stations.pdf.customer_performance').html_safe %></strong>
<%= line_chart [name: '', data: customer_service] %>
<p></p>
<hr>
<strong><%= t('views.stations.pdf.speed_performance').html_safe %></strong>
<%= line_chart [name: '', data: speed_service ] %>
<hr>
<div align="right">
	<font size="2"> <%= t('views.stations.pdf.generated').html_safe %> <%= Date.today.to_s %></font>
	<br>
	<font size="2"><%= t('views.stations.pdf.by').html_safe %> <%= current_user.name + ' ' + current_user.lastname if current_user %></font>
</div>