<div class="panel panel-default center-block">
  <div class="panel-heading" align="center"><%= t('views.stations.show.basic_data').html_safe %></div>
  <div class="panel-body showCapitalized basicInformation"> 
    <%= render partial:'stations/elements/data' %>
  </div>
  <div class="panel-body ratingInformation">
    <%= render partial:'stations/elements/rating' %>
  </div>
  <hr>
  <div class="panel panel-default">
  <div class="panel-heading" align="center"><%= t('views.stations.show.realtime_performance').html_safe %></div>
    <%= render partial:'stations/elements/charts' %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" align="center"><%= t('views.stations.show.map').html_safe %></div>
      <%= render partial:'stations/elements/map' %>
    </div>
</div>
<div class="panel panel-default center-block">
  <div class="panel-body commentBox"> 
    <%= render partial:'comments/form' %>
  </div>
</div>
<%= render partial:'stations/elements/comments' %>