<div class="panel panel-default center-block">
  <div class="panel-body showCapitalized basicInformation"> 
    <p>
      <strong><%= t('views.stations.name') %></strong>
      <%= @station.legal_name.titleize %>
    </p>
    <hr>
    <p>
      <strong><%= t('views.stations.address') %></strong>
      <%= @station.location.address.titleize %>
    </p>
    <p>
    <hr>
      <strong><%= t('views.stations.latitude') %></strong>
      <%= @station.location.latitude %>
    </p>
    <hr>
    <p>
      <strong><%= t('views.stations.longitude') %></strong>
      <%= @station.location.longitude %>
    </p>
  </div>
  <div class="panel-body ratingInformation">
    <p>
      <strong><%= t('views.stations.average_honesty') %></strong>
      <% unless @station.counter_comments.nil?%>
        <% if @station.counter_comments == 0 %>
        <% else %>
          <%= (@station.counter_honesty/@station.counter_comments) %> / 5
        <% end %>
      <% end %>
    </p>
    <p>
    <hr>
      <strong><%= t('views.stations.average_speed') %></strong>
      <% unless @station.counter_comments.nil?%>
        <% if @station.counter_comments == 0 %>
        <% else %>
          <%= (@station.counter_speed_service/@station.counter_comments) %> / 5
        <% end %>
      <% end %>
    </p>
    <p>
    <hr>
      <strong><%= t('views.stations.average_customer') %></strong>
      <% unless @station.counter_comments.nil?%>
        <% if @station.counter_comments == 0 %>
        <% else %>
          <%= (@station.counter_customer_service/@station.counter_comments) %> / 5
        <% end %>
      <% end %>
    </p>

    <% honesty = {} %>
    <% customer_service = {} %>
    <% speed_service = {} %>
    <% Rating.get_station_ratings(@station.id).each do |r| %>
      <% honesty[r.created_at] = r.honesty %>
      <% customer_service[r.created_at] = r.customer_service %>
      <% speed_service[r.created_at] = r.speed_service %>
    <% end %>
    <%= line_chart [ { name: 'Honestidad', data: honesty }, { name: 'Servicio al cliente', data: customer_service },{ name: 'Velocidad del servicio', data: speed_service} ] %>
  </div>
  <div>
    <div class="googleMaps" id="map" style='width: 1137px; height: 300px;'></div>
    <br>
  </div>
  <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {  disableDefaultUI: true , maxZoom: 16, draggable:true}, 
      internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  </script>
</div>
<div class="panel panel-default center-block">
  <div class="panel-body commentBox"> 
    <%= render partial:'comments/commentStation' %>
  </div>
</div>
<% @pagecomments.each do |station| %>
<div class="panel panel-default commentpanel center-block">
  <div class="panel-body">
    <div class="comment-content">

      <% if station.rating.honesty == 1%>
      <% @honesty_class = 'rating onestar'%>
      <% elsif station.rating.honesty == 2%>
      <% @honesty_class = 'rating twostar'%>
      <% elsif station.rating.honesty == 3%>
      <% @honesty_class = 'rating threestar'%>
      <% elsif station.rating.honesty == 4%>
      <% @honesty_class = 'rating fourstar'%>
      <% elsif station.rating.honesty == 5%>
      <% @honesty_class = 'rating fivestar'%>
      <% end %>

      <% if station.rating.speed_service == 1%>
      <% @speed_class = 'rating onestar'%>
      <% elsif station.rating.speed_service == 2%>
      <% @speed_class = 'rating twostar'%>
      <% elsif station.rating.speed_service == 3%>
      <% @speed_class = 'rating threestar'%>
      <% elsif station.rating.speed_service == 4%>
      <% @speed_class = 'rating fourstar'%>
      <% elsif station.rating.speed_service == 5%>
      <% @speed_class = 'rating fivestar'%>
      <% end %>

      <% if station.rating.customer_service == 1%>
      <% @customer_class = 'rating onestar'%>
      <% elsif station.rating.customer_service == 2%>
      <% @customer_class = 'rating twostar'%>
      <% elsif station.rating.customer_service == 3%>
      <% @customer_class = 'rating threestar'%>
      <% elsif station.rating.customer_service == 4%>
      <% @customer_class = 'rating fourstar'%>
      <% elsif station.rating.customer_service == 5%>
      <% @customer_class = 'rating fivestar'%>
      <% end %>

      <p><center>"<%= station.title %>"</center></p>
      <hr>
      <p> <center><font color="#2c3e50"><%= station.user.name %> <%=station.user.lastname %></font> opino: &nbsp; <%= station.description %></center> </p>
      <hr>
      <table align="center">
        <thead>
           <tr>
              <th><%= t('views.stations.honesty') %></th>
              <th><%= t('views.stations.speed') %></th>
              <th><%= t('views.stations.customer') %></th>
           </tr>
        </thead>
          <tbody>
            <tr>
              <td align="left">
                <ul class="<%= @honesty_class%>">
                  <li class="one"><a  title="1 Estrella">1</a></li>
                  <li class="two"><a  title="2 Estrellas">2</a></li>
                  <li class="three"><a title="3 Estrellas">3</a></li>
                  <li class="four"><a  title="4 Estrellas">4</a></li>
                  <li class="five"><a  title="5 Estrellas">5</a></li>
                </ul>
              </td>
              <td align="center" >
                <ul class="<%= @speed_class%>">
                  <li class="one"><a  title="1 Estrella">1</a></li>
                  <li class="two"><a  title="2 Estrellas">2</a></li>
                  <li class="three"><a title="3 Estrellas">3</a></li>
                  <li class="four"><a  title="4 Estrellas">4</a></li>
                  <li class="five"><a  title="5 Estrellas">5</a></li>
                </ul>
              </td>
              <td>
                <ul class="<%= @customer_class%>">
                  <li class="one"><a  title="1 Estrella">1</a></li>
                  <li class="two"><a  title="2 Estrellas">2</a></li>
                  <li class="three"><a title="3 Estrellas">3</a></li>
                  <li class="four"><a  title="4 Estrellas">4</a></li>
                  <li class="five"><a  title="5 Estrellas">5</a></li>
                </ul>
              </td>
             </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
<%= paginate @pagecomments %>