<div class="panel panel-default center-block">
 <div class="panel-body"> 

<p id="notice"><%= notice %></p>

<p>
  <strong>Razon Social:</strong>
  <%= @station.legal_name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @station.location.address %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @station.location.latitude %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @station.location.longitude %>
</p>



<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>


<div style='width: 600px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {  disableDefaultUI: true , maxZoom: 16, draggable:true}, 
internal: {id: 'map'}}, function(){

  markers = handler.addMarkers(<%=raw @coordinates.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

</div>
</div>


<div class="panel panel-default center-block">
 <div class="panel-body"> 

<h1>Crear un comentario!</h1>

<%= render partial:'comments/commentStation' %>

<%= link_to 'Back', comments_path %>
</div>
</div>


<div class="panel panel-default center-block">
 <div class="panel-body"> 

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @station.comments.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <td><%= station.description %></td>
        <td><%= station.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>