<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :station_id, value: @station.id %>
  <div class="field">
    <%= f.label t('views.comments.title') %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label t('views.comments.description') %><br>
    <%= f.text_area :description, class: "form-control"%>
  </div>
  <% @comment.build_rating %>
  <table align="center">
    <thead>
      <tr>
        <th><%= t('views.stations.honesty') %></th>
        <th><%= t('views.stations.speed') %></th>
        <th><%= t('views.stations.customer') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= f.fields_for :rating do |jj| %>
          <td>          
              <div class="field">
                <%= jj.hidden_field :honesty,:id=>"honesty_field" %>
              </div>
              <div id="honesty_star"></div>
          </td>
          <td align="center">
              <div class="field">
                <%= jj.hidden_field :speed_service,:id=>"speed_field" %>
              </div>
              <div id="speed_star"></div>
          </td>
          <td>
              <div class="field">
                <%= jj.hidden_field :customer_service,:id=>"customer_field" %>
              </div>
              <div id="customer_star"></div>
              <%= f.hidden_field :comment_id, value: @comment.id %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <div class="actions" align="right">
    <%= f.button t('views.comments.submit'), class: "btn btn-primary"%>
  </div>
<% end %>
<script>
  $('#honesty_star').raty({
    path: '/assets',
       click: function(score, evt) {
    $(document).ready(function(){
        $("#honesty_field").val(score);
   });
    }
  });

  $('#speed_star').raty({
    path: '/assets',
       click: function(score, evt) {
    $(document).ready(function(){
        $("#speed_field").val(score);
   });
    }
  });

  $('#customer_star').raty({
    path: '/assets',
       click: function(score, evt) {
    $(document).ready(function(){
        $("#customer_field").val(score);
   });
    }
  });
</script>