<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :station_id, value: @station.id %>

  <div class="field">
    <%= f.label :Titulo %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_area :description, class: "form-control"%>
  </div>

  <% @comment.build_rating %>

  <%= f.fields_for :rating do |jj| %>

        <div class="field">
          <%= jj.label :Honestidad %><br>
          <%= jj.number_field :honesty %>
        </div>
        <div class="field">
          <%= jj.label :Velocidad_del_servicio %><br>
          <%= jj.number_field :speed_service %>
        </div>
        <div class="field">
          <%= jj.label :Atencion_al_cliente %><br>
          <%= jj.number_field :customer_service %>
        </div>


  <%= f.hidden_field :comment_id, value: @comment.id %>

  <% end %>
<br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>