<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation" align="left">
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, t('views.comments.create.title').html_safe %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :description, t('views.comments.create.description').html_safe %><br>
    <%= f.text_area :description, class: "form-control"%>
  </div>
  <br>
  <div align="center">
    <%= f.fields_for :rating do |jj| %>
      <%= jj.label :honesty, t('views.stations.show.honesty') %><br>
      <div class="field">
        <%= jj.hidden_field :honesty,:id=>"honesty_field" %>
      </div>
      <div id="honesty_star"></div>
      <hr>
      <%= jj.label :speed_service, t('views.stations.show.speed') %><br>
      <div class="field">
      <%= jj.hidden_field :speed_service,:id=>"speed_field" %>
      </div>
      <div id="speed_star"></div>
      <hr>
      <%= jj.label :customer_service, t('views.stations.show.customer') %><br>
      <div class="field">
      <%= jj.hidden_field :customer_service,:id=>"customer_field" %>
      </div>
      <div id="customer_star"></div>
      <hr>
    <% end %>
  </div>
  <br>
  <div class="actions" align="right">
    <%= f.button t('views.comments.edit.submit_button'), class: "btn btn-primary"%>
  </div>
<% end %>
</div>

<script>
  $('#honesty_star').raty({
    path: '/assets',
       click: function(score, evt) {
    $(document).ready(function(){
        $("#honesty_field").val(score);
   });
    }
  });

  $('#speed_star').raty({
    path: '/assets',
       click: function(score, evt) {
    $(document).ready(function(){
        $("#speed_field").val(score);
   });
    }
  });

  $('#customer_star').raty({
    path: '/assets',
       click: function(score, evt) {
    $(document).ready(function(){
        $("#customer_field").val(score);
   });
    }
  });
</script>