<div class="panel panel-default center-block">
<div class="panel-heading" align="center">Lista de Comentarios</div>
  <div class="panel-body"> 
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.description %></td>
        <td><%= comment.user.name if comment.user %></td>
        <td><%= link_to 'Ver', comment %></td>
        <% if comment.user == current_user || current_user.privileges == 1 %>
        <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
        <td><%= link_to 'Borrar', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  </div>
<%= link_to 'Descargar lista en csv', comments_path(format: :csv) %>  
</div>
<%= paginate @comments %>