<div class="panel panel-default center-block">
<div class="panel-heading" align="center"><%= t('views.comments.index.page_title').html_safe %></div>
  <div class="panel-body"> 
<table style="width:100%" class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripci&oacute;n</th>
      <th>Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <% @comment_description = truncate comment.description.humanize, length: 50 %>
        <td><%= @comment_description %></td>
        <td><%= comment.user.name if comment.user %></td>
        <td>
          <%= link_to comment, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
          <% if comment.user == current_user || current_user.privileges == 1 %>
            <%= link_to edit_comment_path(comment), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <%= link_to comment, method: :delete, data: { confirm: t('views.messages.deletion').html_safe }, class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          <% else %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <br>
  <hr>
  <%= link_to t('views.comments.index.download_csv').html_safe, comments_path(format: :csv), class: "btn btn-primary" %>  
  </div>
</div>
<%= paginate @comments %>