<div class="main-container">

	<div class="panel panel-default my-information">
		<div class="panel-heading" align="center"> Panel de usuario </div>
		<br>
		<ul style="list-style-type:none">
			<li><h3> Configuraci&oacute;n de la cuenta </h3></li>
			<li><h3> Mis Comentarios </h3></li>
			<% if current_user.privileges == 1 %>
				<li><h3> <%= link_to 'Dar de alta una sucursal', new_station_path %> </h3></li>
			<% else %>
			<% end %>
			<li><h3> Generar Reportes </h3></li>
		</ul>
	</div>

	<div class="recent-comments">
		<div class="panel panel-default">
			<div class="panel-heading" align="center">Comentarios Recientes</div>
		</div>
		<% @recent_comments.each do |comment| %>
			<div class="panel panel-default">
				<table align="center">
			</div>
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>				
						<% @comment_description = truncate comment.description.humanize, length: 30 %>
						<tr>
							<td><%= link_to @comment_description, comment%></td>
							<td><%= comment.station.legal_name.titleize if comment.station%></td>
						</tr>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>

	<div class="panel panel-default top-stations">
		<div class="panel-heading" align="center"> Top 5 Gasolineras </div>
		<table align="center">
			<thead>
				<tr>
					<th>Sucursal</th>
					<th>Puntuaci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
				<% @top_stations.each do |station| %>
					<% @station_name = station.legal_name %>
					<tr>
						<td><%= link_to @station_name.titleize, station%></td>
						<td><%= station.counter_honesty + station.counter_customer_service + station.counter_speed_service %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
</div>