<h1>Listing ratings</h1>
<table>
  <thead>
    <tr>
      <th>Honesty</th>
      <th>Speed service</th>
      <th>Customer service</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.honesty %></td>
        <td><%= rating.speed_service %></td>
        <td><%= rating.customer_service %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Rating', new_rating_path %>