<p id="notice"><%= notice %></p>
<p>
  <strong>Honesty:</strong>
  <%= @rating.honesty %>
</p>
<p>
  <strong>Speed service:</strong>
  <%= @rating.speed_service %>
</p>
<p>
  <strong>Customer service:</strong>
  <%= @rating.customer_service %>
</p>
<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>